body {
  background-color: #f5f7fa;
}
.LiveMatch {
  color: rgb(27, 27, 27);
  background-color: #d6dce4;
}

/* @keyframes livematch {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */
@media screen and (min-width: 992px) {
  .LiveMatch {
    width: 15%;
    padding: 0.5rem;
    color: rgb(27, 27, 27);

    border-radius: 20px;
    word-wrap: break-word;
    margin: 2rem;
  }

  .LiveMatchHeader {
    text-align: center;
  }
  .LiveMatchScore {
    text-align: center;
  }
  .LiveMatchScore h1 span {
    font-size: x-large;
    font-weight: 600;
    line-height: 2rem;
  }
  .LiveMatchDetail {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .LiveMatch h1 {
    font-size: small;
    font-weight: 500;
    line-height: 1rem;
    margin: 0.1rem;
  }
  .LiveMatch h2 {
    font-size: x-small;
    font-weight: 100;
    line-height: 0.5rem;
    margin: 0.1rem;
  }
  .LiveMatchTeam {
    width: 30%;
  }
  .LiveMatchTeam img {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 550px) {
  .LiveMatch {
    width: 30%;
    padding: 0.5rem;

    border-radius: 20px;
    word-wrap: break-word;
    margin: 0.5rem;
  }
  .LiveMatchHeader {
    text-align: center;
  }
  .LiveMatchScore {
    text-align: center;
  }
  .LiveMatchScore h1 span {
    font-size: x-large;
    font-weight: 600;
    line-height: 2rem;
  }
  .LiveMatchDetail {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .LiveMatch h1 {
    font-size: small;
    font-weight: 500;
    line-height: 1rem;
    margin: 0.1rem;
  }
  .LiveMatch h2 {
    font-size: x-small;
    font-weight: 100;
    line-height: 0.5rem;
    margin: 0.1rem;
  }
  .LiveMatchTeam {
    width: 30%;
  }
  .LiveMatchTeam img {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .LiveMatch {
    width: 60%;
    padding: 0.5rem;

    border-radius: 20px;
    word-wrap: break-word;
    margin: 1rem;
  }
  .LiveMatchHeader {
    text-align: center;
  }
  .LiveMatchScore {
    text-align: center;
  }
  .LiveMatchScore h1 span {
    font-size: x-large;
    font-weight: 600;
    line-height: 2rem;
  }
  .LiveMatchDetail {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .LiveMatch h1 {
    font-size: small;
    font-weight: 500;
    line-height: 1rem;
    margin: 0.1rem;
  }
  .LiveMatch h2 {
    font-size: x-small;
    font-weight: 100;
    line-height: 0.5rem;
    margin: 0.1rem;
  }
  .LiveMatchTeam {
    width: 30%;
  }
  .LiveMatchTeam img {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 314px) {
  .LiveMatch {
    width: 80%;
    padding: 0.5rem;

    border-radius: 20px;
    word-wrap: break-word;
    margin: 0.5rem;
  }
  .LiveMatchHeader {
    text-align: center;
  }
  .LiveMatchScore {
    text-align: center;
  }
  .LiveMatchScore h1 span {
    font-size: x-large;
    font-weight: 600;
    line-height: 2rem;
  }
  .LiveMatchDetail {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .LiveMatch h1 {
    font-size: small;
    font-weight: 500;
    line-height: 1rem;
    margin: 0.1rem;
  }
  .LiveMatch h2 {
    font-size: x-small;
    font-weight: 100;
    line-height: 0.5rem;
    margin: 0.1rem;
  }
  .LiveMatchTeam {
    width: 30%;
  }
  .LiveMatchTeam img {
    width: 3rem;
    height: 3rem;
  }
}
