@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --color-text-primary: #1c2a38;
  --color-text-secondary: #8a8f98;
  --color-text-alert: #d72641;
  --color-text-icon: #dbdade;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f3f5f9;
  --color-bg-alert: #fdeaec;
  --color-theme-primary: #623ce6;
}

button,
input,
select,
textarea {
  font: inherit;
}

img {
  display: block;
}

strong {
  font-weight: 600;
}

/* body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
} */

.match {
  background-color: var(--color-bg-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(48, 48, 48, 0.1), 0 2px 2px 0 rgba(48, 48, 48, 0.1);
  margin: 1rem;
}

.match-header {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid rgba(48, 48, 48, 0.1);
}

.match-status {
  background-color: var(--color-bg-alert);
  color: var(--color-text-alert);
  padding: 4px 6px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 7px;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-right: auto;
}
.match-status:before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: currentcolor;
  border-radius: 50%;
  margin-right: 4px;
}

.match-tournament {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.match-tournament img {
  width: 10px;
  margin-right: 6px;
}

.match-actions {
  display: flex;
  margin-left: auto;
}

.btn-icon {
  border: none;
  background-color: transparent;
  color: var(--color-text-icon);
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-content {
  display: flex;
  position: relative;
}

.column {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  box-shadow: 0 2px 2px 0 rgba(48, 48, 48, 0.15),
    0 0 0 7.5px var(--color-bg-secondary);
}
.team-logo img {
  width: 25px;
}

.team-name {
  text-align: center;
  margin-top: 12px;
  font-size: 10px;
  font-weight: 600;
}

.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-date,
.match-referee {
  font-size: 7px;
  color: var(--color-text-secondary);
}
.match-date strong,
.match-referee strong {
  color: var --color-text-primary;
}

.match-score {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.match-score-number {
  font-size: 24px;
  font-weight: 600;
  line-height: 0.5;
}
.match-score-number--leading {
  color: var(--color-theme-primary);
}

.match-score-divider {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: var --color-text-icon;
  margin-left: 5px;
  margin-right: 5px;
}

.match-time-lapsed {
  color: #df9443;
  font-size: 7px;
  font-weight: 600;
  margin-top: 4px;
}

.match-referee {
  margin-top: 12px;
}

.match-bet-options {
  display: flex;
  margin-top: 8px;
  padding-bottom: 12px;
}

.match-bet-option {
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid var(--color-text-icon);
  background-color: #f9f9f9;
  border-radius: 2px;
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
}

.match-bet-place {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: var(--color-theme-primary);
  border-radius: 6px;
  padding: 10px 48px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(48, 48, 48, 0.25);
}

.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
